body {
  font-family: sans-serif;
  font: helvetica;
  background-image: url("https://www.wine.com/content/media/jc70ljquxrra/5EQN5STOQoW2MCqKuWi2IC/2defecee36252f0f592a68bea5326df3/WineComSteakWine.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
}

.header-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 32px;
}

/* .container {
  padding: 4em;
} */

button, label {
  border: none;
  background-color: #f2f2f2;
  color: grey;
  border: 2px solid #e7e7e7;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

input {
  border: 4px;
  border-color: black;
  background-color: #f2f2f2;
  color: grey;
  border: 2px solid #e7e7e7;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

form {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* modal information */

.modal {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* width: 50%;
  height: 50%; */
  background-color: rbga(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalContent {
  width: 500px;
  height: 300px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  position: relative;
}

.close {
  color: grey;
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 40px;
  transform: rotate(45deg);
  cursor: pointer;
}

.wines {
  margin: 2em;
}

.text {
  margin: 2em;
}

.title {
  margin: 2em;
}

.description {
  margin: 2em;
}

.imageUrl {
  margin: 2em;
}

.price {
  margin: 2em;
}

.link {
  margin: 2em;
}

.background-image {
  margin: 2em;
}
