body {
  font-family: 'Work Sans', sans-serif;
  background-image: url("https://www.wine.com/content/media/jc70ljquxrra/5EQN5STOQoW2MCqKuWi2IC/2defecee36252f0f592a68bea5326df3/WineComSteakWine.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
}

.header-box {
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 32px;
}

.container {

}

input {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: 'Work Sans', sans-serif;
  border-radius: 20px;
  border: 4px;
  border-color: black;
  background-color: #f2f2f2;
  color: grey;
  /* height: 55px; */
  border: 2px solid #e7e7e7;
  width: 12em;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: 'Work Sans', sans-serif;
  border: none;
  border-radius: 20px;
  background-color: #f2f2f2;
  color: grey;
  /* height: 90px; */
  width: 15em;
  margin-top: 5px;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* modal information */

.modal {
  grid-template-columns: 50% 50%;
  background-color: rbga(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.modal:focus {
  display: block;
}

.modalContent {
  width: 500px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  padding: 2%;
  line-height: 120%;
  position: relative;
}

.close {
  color: grey;
  position: absolute;
  top: 14px;
  right: 14px;
  font-size: 40px;
  transform: rotate(45deg);
  cursor: pointer;
}

.status {
  color: red; /* JV: distinguish error text from normal text somehow */
  font-family: 'Work Sans', sans-serif;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 150%;
}

.wines {
  align-items: center;
  text-align: center;
  color: #595959;
  margin: 2em;
  grid-column: 1|2;
}

.text {
  font-size: 18px;
  line-height: 1.7;
  color: #595959;
  margin: 2em;
  grid-column: 1|2;
}

.title {
  font-size: 18px;
  color: #595959;
  margin: 2em;
  grid-column: 1|2;
}

.description {
  font-size: 18px;
  color: #595959;
  margin: 2em;
  grid-column: 2|3;
}

.imageUrl {
  /* margin: 2em; */
  grid-column: 2|3;
}

.price {
  font-size: 25px;
  margin: 1em;
  color: #1a1a1a;
  grid-column: 2|3;
}

.link {
  text-decoration: none;
  font-size: 25px;
  margin: 1em;
  color: #333333;
  grid-column: 2|3;
}

#preLoader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#animaniacs {
  width: 50px;
}

 /* making the site mobile friendly  */

@media (max-width: 1230px) {
  button {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    font-size: 50px;
    height: 180px;
    margin: 2em;
  }

  input {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    font-size: 50px;
    height: 180px;
    width: 680px;
    margin: 2em;

  }
}
